<% @cohort.students.each do |s| %>
	<h1><%= s.name%><br></h1>
	<% s.tests.each do |t| %>
		<li><%= link_to t.name, edit_test_path(t)%><br></li>	
	<%end%>
<%end%>

<h1><%= link_to "add a student", new_student_path%></h1>