<% @cohort.students.each do |s| %>
	<h1><%= link_to s.name, student_path(s)%><br></h1>
	<% s.student_tests.each do |t| %>
		<li><%= link_to t.test.name, edit_student_test_path(t)%><br></li>	
	<%end%>
<%end%>

<h1><%= link_to "add a student", new_student_path%></h1>