<!DOCTYPE html>
<html>
  <head>
    <title>FLatironAssessmentApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="semantic/dist/semantic.min.js"></script>
  </head>

  <body>
  	<div style="text-align: center;">
    <!-- <h2><a href='welcome#index'>Home</a></h2> -->
      <!-- <element id="content"> [your content] </element> -->
    		<div class="ui header">
    			<div class="ui inverted green menu">
    				<div class="item">
    					<h1>Flatiron Assessment Fun</h1>
  				  </div>
			   </div>
  		  </div>
	     <div>

    <%= yield %>
  </body>
</html>
